In [1]:
import codecs
import glob
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm

In [11]:
data_dir = "data/input/alpha1/1A/OH/syn/@2_out/*.out"
data_name = data_dir.split('/')
data_name = data_name[2] + data_name[3] + data_name[4] + data_name[5]
paths = [p for p in glob.glob(data_dir)]


# Z-builderで見た時の番号
atom_number_include_dummy = [8, 9, 12, 13]
# ダミーを引いた時
atom_number = [n - 4 for n in atom_number_include_dummy]

torsion_2_key = ""
count = 1
# 二面角を示すkeywordの作成
for n in atom_number:
    if count == 1:
        torsion_2_key = str(n) + ","
        count += 1
    elif count < len(atom_number):
        torsion_2_key = torsion_2_key + str(n) + ","
        count += 1
    else:
        torsion_2_key = torsion_2_key + str(n)

initial_key = "Optimized Parameters"
end_key = "Grad"
result_dir = "data/output/" + data_name + ".csv"
df_output = pd.DataFrame()

# D(4,5,8,9)を探す　4589は順不動にしたい
# 最初にD(4,5,8,9)を探し、なければ順不同にする

In [12]:
for path in paths:
    # file_nameから角度の情報を取る
    file_name = path.split('/')[-1]
    torsion_angle_1 = int(file_name.split("@")[0].split("_")[-1])

    with codecs.open(path, "r", "UTF-8", "ignore") as file:
        df = pd.read_table(file)
        df = df.rename(columns={df.columns[0]: 'Col_1'})
        # initial_keyを含む行を探す
        initial_key_df = df[df['Col_1'].str.contains(initial_key, case=False)]
        initial_key_index = initial_key_df.index[0]
        df = df.iloc[initial_key_index:]
        # initial_keyを含む行以降のend_keyを含む行を抜き出す
        end_key_df = df[df['Col_1'].str.contains(end_key)]
#         dfを更新しているのでここでの行番号は0から始まる
        end_key_index = end_key_df.index[0] - initial_key_index
        df = df.iloc[:end_key_index]
        # 該当行の抜き出しが完了
        
#         二面角の抜き出し
        df = df[df['Col_1'].str.contains(torsion_2_key)]
        torsion_angle_2 = float(df['Col_1'].iloc[0].split(")")[1].split("-DE/DX")[0].replace(" ", ""))
        
        df_torsion_angle = pd.DataFrame(data=[torsion_angle_2], 
                            columns=["torsion2"],
                            index=[torsion_angle_1])
        df_output = pd.concat([df_output, df_torsion_angle])

In [13]:
df_output = df_output.sort_index()
df_output.to_csv(result_dir)
df_output

      torsion2
-165  -61.3739
-150  -82.6687
-135 -107.9804
-120 -124.5239
-105 -135.1743
-90  -145.6429
-75  -158.9431
-60  -179.5372
-45   165.6618
-30   155.2023
-15   147.1920
 0    139.3623
 15   130.6255
 30   119.5291
 45   102.1270
 60    77.8068
 75    58.4712
 90    44.2900
 105   28.8801
 120    2.5345
 135  -17.6115
 150  -28.6352
 165  -38.3173
 180  -48.0744

In [10]:
data_name

'alpha11AOHsyn'

      torsion2
-165  -61.3739
-150  -82.6687
-135 -107.9804
-120 -124.5239
-105 -135.1743
-90  -145.6429
-75  -158.9431
-60  -179.5372
-45   165.6618
-30   155.2023
-15   147.1920
 0    139.3623
 15   130.6255
 30   119.5291
 45   102.1270
 60    77.8068
 75    58.4712
 90    44.2900
 105   28.8801
 120    2.5345
 135  -17.6115
 150  -28.6352
 165  -38.3173
 180  -48.0744